# Virtual enviroment
**venv/
**env/
.env
.venv

# Python & Jupyter
**/__pycache__/
**/.ipynb_checkpoints/

# Dataset folder
data/

# models 

**data_short.pickle
**hog_mid_proba.pickle

# etc_stuff

**coverage
**Train_HOG_03-12-23.npy


# intellij configs
.idea/


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Models
**kmeans.gz
**sift_svm.gz
**lzma_hog_proba.xz
**cnn_torch.pt
